
@{
    ViewBag.Controller = "Quản lý kho";
    ViewBag.Title = "Thống kê";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col col-md-6 col-sm-12">
        <div class="input-group">
            @if (SuperbrainManagement.Controllers.CheckUsers.CheckHQ())
            {
                @Html.DropDownList("IdBranch", null, htmlAttributes: new { @class = "form-control select2", @onchange = "Loadlist()" })
            }
            <input type="date" class="form-control ms-1 rounded-1" name="fromdate" id="fromdate" placeholder="Tìm kiếm" value="" onchange="return Loadlist()">
            <input type="date" class="form-control ms-1 rounded-1" name="todate" id="todate" placeholder="Tìm kiếm" value="" onchange="return Loadlist()">
        </div>
    </div>
    <div class="col col-md-6 col-sm-12 text-right" style="text-align:right;">
        <button id="exportButton" class="btn btn-success">
            <i class="ti ti-file-download"></i> Xuất file
        </button>
    </div>
</div>
<table class="table fs-3 table-bordered mt-2" id="tableToPrint">
    <thead class="bg-success text-white">
        <tr>
            <th class="text-center align-content-center" rowspan="2">STT</th>
            <th class=" align-content-center" rowspan="2">Vật tư</th>
            <th class="text-center align-content-center" rowspan="2">Đơn vị</th>
            <th class="text-center align-content-center" rowspan="2">Tồn kho đầu kì</th>
            <th class="text-center align-content-center" colspan="2">Số lượng nhập</th>
            <th class="text-center align-content-center" colspan="2">Số lượng xuất</th>
            <th class="text-center align-content-center" rowspan="2">Tồn kho cuối kì</th>
        </tr>
        <tr>
            <th class="text-center">Đơn hàng</th>
            <th class="text-center">Khác</th>
            <th class="text-center">Học viên</th>
            <th class="text-center">Khác</th>
        </tr>
    </thead>
    <tbody id="showlist"></tbody>
    <tr id="loading">
    </tr>
</table>


<script>
    $(document).ready(function () {
        var currentDate = new Date();
        var currentDay = currentDate.getDate() + 1;
        var currentMonth = currentDate.getMonth() + 1;
        var currentYear = currentDate.getFullYear();
        var formattedToday = currentYear + '-' + ('0' + currentMonth).slice(-2) + '-' + ('0' + currentDay).slice(-2);
        $("#todate").val(formattedToday);
        var lastMonthDate = new Date(currentDate.getFullYear(), currentMonth - 2, currentDay);
        var lastMonth = lastMonthDate.getMonth() + 1;
        var lastMonthYear = lastMonthDate.getFullYear();
        var formattedLastMonth = lastMonthYear + '-' + ('0' + lastMonth).slice(-2) + '-' + ('0' + currentDay).slice(-2);
        $("#fromdate").val(formattedLastMonth);
    });
</script>