<!DOCTYPE html>
<html lang="vi">
<head>
    <!-- Meta và tiêu đề -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title : Phần mềm Quản Lý Superbrain</title>

    <!-- Favicon và CSS -->
    <link rel="shortcut icon" type="image/png" href="~/assets/images/logos/icon web.png" />
    <link rel="stylesheet" href="~/assets/css/styles.css" />
    <link rel="stylesheet" href="~/assets/css/select2.css" />
    <link rel="stylesheet" href="~/assets/css/choices.min.css" />

    <!-- jQuery tải trước -->
    <script src="~/assets/js/jquery-3.4.1.min.js"></script>

    <!-- jQuery UI-->
    <link href="~/assets/css/ui-custom.css" rel="stylesheet" />
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Bootstrap và các thư viện khác -->
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/main.js"></script>

    <!-- jQuery Confirm -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-confirm@3.3.4/css/jquery-confirm.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery-confirm@3.3.4/js/jquery-confirm.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js"></script>
</head>
<body>
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 9999">
        <div id="myToastError" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-danger">
                <strong class="me-auto text-white"><i class="ti ti-bell"></i> 1 thông báo</strong>
            </div>
            <div class="toast-body">
            </div>
        </div>
    </div>
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 9999">
        <div id="myToastSuccess" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-success">
                <strong class="me-auto text-white"><i class="ti ti-bell"></i> 1 thông báo</strong>
            </div>
            <div class="toast-body">
            </div>
        </div>
    </div>
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        @{
            Html.RenderPartial("~/Views/Settings/_Sidebar.cshtml");
        }
        <div class="body-wrapper">
            @{
                Html.RenderPartial("~/Views/Settings/_Header.cshtml");
            }
            <div class="container-fluid">
                @if (!SuperbrainManagement.Controllers.CheckUsers.checkcookielogin())
                {
                    Response.Redirect("/Authentication");
                }
                else
                {
                    @RenderBody()
                }
                @{
                    Html.RenderPartial("~/Views/Settings/_Datasuggest.cshtml");
                    Html.RenderPartial("~/Views/Settings/_ChangePassword.cshtml");
                }
            </div>
        </div>
    </div>
    <script src="~/assets/js/jquery.signalR-2.4.3.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
    <script>
        // Khởi tạo CKEditor
        CKEDITOR.replace('editor1', {
            on: {
                instanceReady: function () {
                    this.showNotification = function () { };  // Ghi đè để tắt tất cả thông báo
                }
            }
        });
        CKEDITOR.editorConfig = function (config) {
            config.versionCheck = false;  // Tắt kiểm tra phiên bản
            config.removePlugins = 'notification';  // Tắt plugin notification
        };
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
    <script src="~/assets/js/select2.min.js"></script>
    <script src="~/assets/js/choices.min.js"></script>
    <script src="~/assets/js/sidebarmenu.js" asp-append-version="true"></script>
    <script src="~/assets/js/app.min.js" asp-append-version="true"></script>
    <script src="~/assets/libs/simplebar/dist/simplebar.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $('.select2').select2();
        });
    </script>
</body>
</html>
