<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:800px;">
            <div class="modal-header">
                <h5 class="modal-fullscreen" id="changePasswordModalLabel">Đổi mật khẩu</h5>
            </div>
            <hr style="width:90%;margin:0 auto;" />
            <form action="/" method="post" id="form_nhap">
                <div class="modal-body">
                    <div class="row">
                        <div class="col col-md-12 mt-3">
                            <label>Mật khẩu mới</label>
                            <input type="hidden" id="IdUser" value="" class="form-control" />
                            <input type="password" id="EditPassword" value="" class="form-control" onkeyup="check()" required />
                        </div>
                        <div class="col col-md-12 mt-3">
                            <label>Nhập lại mật khẩu</label>
                            <input type="password" id="ConfirmPassword" value="" class="form-control" onkeyup="check()" required />
                            <small class="fst-italic" id="message"></small>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-outline-danger text-center" onclick="closeModal()">
                        <i class="ti ti-door-exit"></i> Hủy
                    </button>
                    <button type="button" class="btn btn-sm btn-success" onclick="Submit_changepassword()" id="btnAction">
                        <i class="ti ti-refresh"></i> Lưu thay đổi
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function ChangePassword() {
        $('#changePasswordModal').modal('show');
    }
    function Submit_changepassword() {
        if ($("#EditPassword").val() != $("#ConfirmPassword").val()) {
            showError("Mật khẩu không trùng khớp!");
        }
        $.ajax({
            url: '@Url.Action("Submit_ChangePassword", "Users")',
            type: "POST",
            data: {
                Password: $("#EditPassword").val()
            }
            , dataType: "json",
            success: function (data) {
                if (data.status == "ok") {
                    $('#changePasswordModal').modal('hide');
                    showSuccess(data.message, 3000);
                }
                else {
                    showError(data.message, 3000);
                }
            },
            error: function () { showError('Lỗi!', 3000); }
        });
    }
    var check = function () {
        if (document.getElementById('EditPassword').value ==
            document.getElementById('ConfirmPassword').value) {
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = '<i class="ti ti-check text-success"></i> Matching';
        } else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'Mật khẩu không trùng khớp!';
        }
    }
</script>