@{
    ViewBag.Controller = "Khóa đào tạo";
    ViewBag.Title = "Thống kê đóng phí";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col col-md-6 col-sm-12">
        <div class="input-group">
            <input type="text" class="form-control ms-1 rounded-1" name="fromdate" id="fromdate" value="" onchange="Loadlist()">
            <input type="text" class="form-control ms-1 rounded-1" name="todate" id="todate" value="" onchange="Loadlist()">
        </div>
    </div>
    <div class="col col-md-6 col-sm-12 text-end">
        <a href="javascript:tableToPrint()" class="btn btn-success">
            <i class="ti ti-download"></i> Xuất danh sách
        </a>
    </div>
</div>
<table class="table table-bordered fs-3 mt-2">
    <thead>
        <tr>
            <th class="text-center">STT</th>
            <th class="text-center">Khóa đào tạo</th>
            <th class="text-center">Cơ sở</th>
            <th class="text-center">Số lượng đăng ký</th>
            <th class="text-center">Số lượng hỗ trợ</th>
            <th class="text-center">Tổng tiền</th>
            <th class="text-center">Trạng thái</th>
            <th class="text-center">Kế toán xác nhận</th>
        </tr>
    </thead>
    <tbody id="showlist"></tbody>
    <tr class="loader"></tr>
</table>
<script>
    $(function () {
        $("#fromdate").datepicker({ dateFormat: "dd/mm/yy" });
        $("#todate").datepicker({ dateFormat: "dd/mm/yy", maxDate: 1 });
        if ($("#fromdate").val() == "") {
            $("#fromdate").datepicker("setDate", -30);
        }
        if ($("#todate").val() == "") {
            $("#todate").datepicker("setDate", 1);
        }
        Loadlist();
    });
    function Loadlist() {

    }
</script>