@{
    ViewBag.Controller = "Khóa đào tạo";
    ViewBag.Title = "Thống kê đóng phí";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col col-md-6 col-sm-12">
        <div class="input-group">
            @if (SuperbrainManagement.Controllers.CheckUsers.CheckHQ())
            {
                //@Html.DropDownList("IdBranch", null, htmlAttributes: new { @class = "form-control select2", @onchange = "Loadlist()" })
            }
            <input type="text" class="form-control ms-1 rounded-1" name="fromdate" id="fromdate" value="" onchange="Loadlist()">
            <input type="text" class="form-control ms-1 rounded-1" name="todate" id="todate" value="" onchange="Loadlist()">
        </div>
    </div>
    <div class="col col-md-6 col-sm-12 text-end">
        <a href="javascript:tableToPrint()" class="btn btn-success">
            <i class="ti ti-download"></i> Xuất danh sách
        </a>
    </div>
</div>
<table class="table fs-3 mt-2">
    <thead class="bg-success text-white rounded-1">
        <tr>
            <th class="text-center">STT</th>
            <th class="text-center">Mã phiếu</th>
            <th class="text-center">Người (nhận,nộp)</th>
            <th class="text-left">Lý do</th>
            <th class="text-end">Số tiền</th>
            <th class="text-center">Hình thức</th>
            <th class="text-center">Loại</th>
            <th class="text-center">Ngày</th>
            <th class="text-center">Người thao tác</th>
            <th class="text-end">Thao tác</th>
        </tr>
    </thead>
    <tbody id="showlist"></tbody>
    <tr id="loading"></tr>
</table>
<script>
    $(function () {
        $("#fromdate").datepicker({ dateFormat: "dd/mm/yy" });
        $("#todate").datepicker({ dateFormat: "dd/mm/yy", maxDate: 1 });
        if ($("#fromdate").val() == "") {
            $("#fromdate").datepicker("setDate", -30);
        }
        if ($("#todate").val() == "") {
            $("#todate").datepicker("setDate", 1);
        }
        Loadlist();
    });
</script>