@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<body><div class="page1" style="font-size: 10pt; background-color: #fff;  position:relative;width:95% ;margin: 10px 10px 10px 10px;[hieghtpage];overflow:hidden;position:relative;font-family:'Times New Roman' ">
    <div style='height:20px;background-color: #a8cf45;width:100%'></div>

    <div class="row">
        <div class="col-md-12 main_color">
            <div class="header">
                <div class="col-md-7" style="  width:100%; margin-left:0px; float:left;height:65px;overflow:hidden">
                    <img src="https://superbrain.edu.vn/wp-content/uploads/2024/02/cropped-icon-web-192x192.png" style="height: auto;width: 50px;float:left;padding: 10px;" />
                    [imageright]
                    <div>  [chinhanh]  </div>

                </div>
                <img src="img/border_5.png" style="width:100%;height:5px; margin-bottom: 0px;border:0">

                <div class="text_top" style="text-align:center;font-size:16pt;font-weight:bold">
                    PHIẾU THU
                </div>
                <div style=" font-size:12pt;text-align:center">
                    [ngayphieuthu]
                </div>

                <div class="text_left_5" style="border:1px solid #ff44a2; padding:5px;margin-left:10px;margin-bottom:10px;margin-right:10px;height:60px">
                    <div style=" float:left;max-width:60%">
                        Tên học viên:
                        [tenhocvien]<div style="width:150px; ">
                            ĐT:
                            [dienthoai]
                        </div>
                        Ghi chú: [ghichu]
                        <br />
                    </div>
                    <div style="width:160px;float:right">
                        <div class="text_01">
                            <span>
                                Lần thu: [lanthu]
                                <br>
                                Số PT:  [maphieuthu]
                                <br>
                                Liên [lien]
                            </span>
                        </div>

                    </div>

                </div>
                <div class="col-md-5" style=" width:100px; float:right;margin-right:5px;">

                </div>

            </div>


            <div style="padding:5px; margin:0 5px;">
                <table style="font-size:10pt; font-family: Arial; border-collapse: collapse;border:1px solid #ff44a2;" cellspacing="0" cellpadding="10px" width="100%" border="1">
                    <thead>
                        <tr>
                            <th style="border: 1px solid #ff44a2;width:30px">STT</th>
                            <th style="border: 1px solid #ff44a2;">Nội dung</th>
                            <th style="border: 1px solid #ff44a2;">SL</th>
                            <th style="border: 1px solid #ff44a2;">Đơn giá</th>
                            <th style="border: 1px solid #ff44a2;">CK</th>
                            <th style="border: 1px solid #ff44a2;">Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        [list]
                        [dathutruoc]
                        <tr>
                            <td colspan="4" rowspan="5" style="text-align:left;border: 1px solid #ff44a2;">
                                Viết bằng chữ<br /><b>[tienthu]</b>
                            </td>
                            <td style="text-align:left;border: 1px solid #ff44a2;">Tổng tiền:</td>
                            <td style="border: 1px solid #ff44a2;text-align:right"> [tongno]</td>
                        </tr>
                        <tr>
                            <td style="text-align:left;border: 1px solid #ff44a2;">Chiết khấu:</td>
                            <td style="border: 1px solid #ff44a2;text-align:right">[chietkhau] </td>
                        </tr>

                        <tr>
                            <td style="text-align:left;border: 1px solid #ff44a2;">Tổng thanh toán:</td>
                            <td style="border: 1px solid #ff44a2;text-align:right">[tongthanhtoan] </td>
                        </tr>
                        <tr>
                            <td style="text-align:left;border: 1px solid #ff44a2;">Thực thu:</td>
                            <td style="border: 1px solid #ff44a2;text-align:right"> [thucthu]</td>
                        </tr>
                        <tr>
                            <td style="text-align:left;border: 1px solid #ff44a2;">[conlaitext]:</td>
                            <td style="border: 1px solid #ff44a2;text-align:right">[conlai]</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <table style="width:100%;text-align:center">
                <tr>
                    <td width="25%">Giám đốc<br /><span>(Ký,họ tên)</span></td>
                    <td width="25%">
                        <span style="width:128px; float:left;">
                            Thủ quỷ<br />
                            <span>(Ký,họ tên)</span>
                        </span>
                    </td>
                    <td width="25%">
                        <span style="width:128px; float:left;">
                            Người lập<br />
                            <span>(Ký,họ tên)</span>
                        </span>
                    </td>
                    <td width="25%">
                        <span style="width:128px; float:left;">
                            Người nộp tiền<br />
                            <span>(Ký,họ tên)</span>
                        </span>
                    </td>

                </tr>
            </table>
            <div class="clearfix"></div>
            <div style="text-align:center; margin-bottom:2px;">
                <p>&nbsp;</p>
                <p>(Cần đối chiếu khi <strong>lập, giao, nhận</strong> hoá đơn)</p>
            </div>
            <div style="font-weight:bold;text-align:center;margin-bottom:5px;">Ngày in: <span>[ngayin]</span></div>
            <div class="clearfix"></div>
            <div class="clearfix"></div>
        </div>

    </div>

</div>
</body>
</html>
