
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center">
    <h2>Thanh toán</h2>
    <p>Nhập thông tin thanh toán của bạn.</p>
    <form action="/Payment/UrlPayment" method="post">
        <div class="form-group">
            <label for="amount">Số tiền (VNĐ):</label>
            <input type="number" name="amount" id="amount" class="form-control" placeholder="Nhập số tiền"  />
        </div>
        <div class="form-group">
            <label for="orderId">Mã đơn hàng:</label>
            <input type="text" name="orderId" id="orderId" class="form-control" value="DH123456"  />
        </div>

        <div class="form-group">
            <label for="orderId">Mã đơn hàng:</label>
            <input type="text" name="orderCode" id="orderCode" class="form-control" value="DH123456"  />
        </div>

        <div class="form-group">
            <label for="orderId">TypePaymentVN int:</label>
            <input type="number" name="TypePaymentVN" id="TypePaymentVN" class="form-control" value="DH123456"  />
        </div>
        <button type="submit" class="btn btn-success mt-3">Gọi Thanh Toán</button>
    </form>
</div>
