
@{
    ViewBag.Controller = "Học viên";
    ViewBag.Title = "Danh sách đã xóa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col col-md-6 col-sm-12">
        <form action="/students" method="get">
            <div class="input-group mb-3">
                @if (SuperbrainManagement.Controllers.CheckUsers.CheckHQ())
                {
                    @Html.DropDownList("IdBranch", null, htmlAttributes: new { @class = "form-control select2", onchange = "this.form.submit();" })
                }
                <input type="text" class="form-control" name="searchString" placeholder="Tìm kiếm" value="@ViewBag.CurrentFilter">
                <button class="input-group-text bg-success" id="basic-addon2" type="submit"><i class="ti ti-search text-white"></i></button>
            </div>
        </form>
    </div>
</div>
<table class="table fs-3">
    <thead class="bg-success text-white rounded-1">
        <tr>
            <th class="text-center">STT</th>
            <th>Mã học viên</th>
            <th>Họ tên</th>
            <th class="text-center">Năm sinh</th>
            <th class="text-center">Giới tính</th>
            <th class="text-center">Trạng thái</th>
            <th>Quản lý</th>
            <th class="text-end">Thao tác</th>
        </tr>
    </thead>
    <tbody id="showlist"></tbody>
</table>
