
@{
    ViewBag.Title = "Registrations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table">
    <thead class="bg-success">
        <tr>
            <th colspan="2">
                <div class="dropdown show" style="display: flex;justify-content: space-between;align-items: center;">
                    <div class="text-white">Phiếu đăng ký khóa học</div>
                    <a class="btn btn-sm btn-light" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ti ti-dots text-success"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/students/registrationprints">In phiếu đăng ký tổng</a>
                        <a class="dropdown-item" href="#">In phiếu đăng ký chi tiết</a>
                        <a class="dropdown-item" href="#">Thu tiền</a>
                        <a class="dropdown-item" href="#">Xét vào lớp</a>
                        <a class="dropdown-item" href="#">Xóa phiếu đăng ký</a>
                    </div>
                </div>
            </th>
        </tr>
    </thead>
</table>
<div class="row ps-3">
    <div class="col col-6 col-md-6 col-sm-12 mb-2">
        <p>Mã hóa đơn</p>
        <input class="form-control text-box single-line" style="border:none;" data-val="true" data-val-length="The field Name must be a string with a maximum length of 50." data-val-length-max="50" id="Bill" name="Name" type="text" value="" disabled>
        <input type="hidden" id="idRegistration" value="@ViewBag.IdRegistration" name="idRegistration" />
        <input type="hidden" id="idStudent" value="@ViewBag.IdStudent" name="idStudent" />
    </div>
    <div class="col col-6 col-md-6 col-sm-12 mb-2">
        <p>Ngày tạo</p>
        <input class="form-control text-box single-line" style="border:none;" data-val="true" data-val-length="The field Username must be a string with a maximum length of 50." data-val-length-max="50" id="Datecreate" name="Username" type="text" value="" disabled>
    </div>
    <div class="col col-6 col-md-6 col-sm-12 mb-2">
        <p>Họ tên học viên</p>
        <input class="form-control text-box single-line" style="border:none;" data-val="true" data-val-length="The field Name must be a string with a maximum length of 50." data-val-length-max="50" id="Name" name="Name" type="text" value="" disabled>
    </div>
    <div class="col col-6 col-md-6 col-sm-12 mb-2">
        <p>Mã học viên</p>
        <input class="form-control text-box single-line" style="border:none;" data-val="true" data-val-length="The field Username must be a string with a maximum length of 50." data-val-length-max="50" id="Username" name="Username" type="text" value="" disabled>
    </div>
    <div class="col col-12 col-md-12 col-sm-12 mb-2">
        <p>Ghi chú</p>
        <input class="form-control text-box single-line" id="description" placeholder="Ghi chú dành cho phiếu đăng ký" name="description" type="text" value="">
    </div>
</div>
<button type="button" class="btn btn-success" onclick="getDataCombobox(0,0,1)" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="ti ti-certificate"></i> Thêm khóa học
</button>
<button type="button" class="btn btn-success" onclick="getDataComboboxProduct(0)" data-bs-toggle="modal" data-bs-target="#exampleModalProduct">
    <i class="ti ti-shopping-cart"></i> Thêm vật tư
</button>
<button type="button" class="btn btn-success" onclick="getDataComboboxOther(0)" data-bs-toggle="modal" data-bs-target="#exampleModalRevenueReferences">
    <i class="ti ti-checklist"></i> Thu khác
</button>
