@model PagedList.IPagedList<SuperbrainManagement.Models.VacationSchedule>
@using PagedList.Mvc;
@{
    ViewBag.Controller = "Cài đặt";
    ViewBag.Title = "Lịch nghỉ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col col-md-4 col-sm-12">
        <form action="/vacationschedules" method="get" id="formload">
            <div class="input-group">
                @if (SuperbrainManagement.Controllers.CheckUsers.CheckHQ())
                {
                    @Html.DropDownList("IdBranch", null, htmlAttributes: new { @class = "form-control select2",@onchange="Loadlist()" })
                }
            </div>
        </form>
    </div>
    <div class="col col-md-8 col-sm-12 text-end">
        <a href="javascript:Add_vacation()" class="btn btn-md btn-success ms-0"><i class="ti ti-plus"></i> Thêm mới</a>
    </div>
</div>
<table class="table table-striped fs-3 mt-2">
    <thead class="border-2 border-bottom border-muted">
        <tr>
            <th class="text-center fw-bolder">STT</th>
            <th class="text-start fw-bolder">Mô tả</th>
            <th class="text-center fw-bolder">Ngày bắt đầu</th>
            <th class="text-center fw-bolder">Ngày kết thúc</th>
            <th class="text-end fw-bolder">Thao tác</th>
        </tr>
    </thead>
    <tbody id="showlist"></tbody>
   <tr class="loader"></tr>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="modaladdVacationLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:800px;">
            <form action="/" method="post" id="form_nhap">
                <div class="modal-header">
                    <h5 class="modal-title text-success" id="modaladdVacationLabel">Thêm lịch nghỉ</h5>
                    <button type="button" class="btn btn-sm" onclick="closeModal()" data-dismiss="modal" aria-label="Close">
                        <i class="ti ti-x"></i>
                    </button>
                </div>
                <hr style="width:90%;margin:0 auto;" />
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-12 mt-2">
                            <label>Mô tả</label>
                            <input type="hidden" name="action" value="" class="form-control" id="action" placeholder="Mã chương trình" />
                            <input type="hidden" name="IdVacation" value="" class="form-control" id="IdVacation" placeholder="Mã chương trình" />
                            <input type="text" name="NameVacation" value="" class="form-control" id="NameVacation" placeholder="Mô tả" />
                        </div>

                        <div class="form-group col-md-12 mt-2">
                            <label>Ngày bắt đầu</label>
                            <input type="text" name="FromdateVacation" value="" class="form-control" id="FromdateVacation" placeholder="" />
                        </div>

                        <div class="form-group col-md-12 mt-2">
                            <label>Ngày kết thúc</label>
                            <input type="text" name="TodateVacation" value="" class="form-control" id="TodateVacation" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <span class="loader"></span>
                    <button type="button" class="btn btn-sm btn-outline-danger text-center" onclick="closeModal()">
                        <i class="ti ti-door-exit"></i> Hủy
                    </button>
                    <button type="button" class="btn btn-sm btn-success" onclick="Submit_savechange()" id="btnActionVacation">
                        <i class="ti ti-circle-plus"></i> Thêm mới
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var isProcessing = false;
    $(function () {
        $("#FromdateVacation").datepicker({ dateFormat: "dd/mm/yy", minDate: 0 });
        $("#TodateVacation").datepicker({ dateFormat: "dd/mm/yy", minDate: 1 });
        Loadlist();
    });
    function Loadlist() {
        $(".loader").html("<td colspan=5 class='text-center'>Đang tải dữ liệu, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'></td>");
        $('#showlist').html("");
        $.ajax({
            url: '@Url.Action("Loadlist", "VacationSchedules")',
            type: "GET",
            data: {
                IdBranch: $("#IdBranch").val()
            },
            success: function (data) {
                $('#showlist').html(data.str);
                $(".loader").html("");
            },
            error: function (xhr, error) {
                console.log(error);
            }
        });
    }
    function Add_vacation() {
        $('#modaladdVacationLabel').html("Thêm lịch nghỉ");
        $('#action').val("create");
        $('#btnActionVacation').html("+ Thêm mới");
        $('#exampleModal').modal('show');
    }
    function Edit_vacation(id) {
        $('#modaladdVacationLabel').html("Chỉnh sửa lịch nghỉ");
        $('#action').val("edit");
        $('#btnActionVacation').html("<i class='ti ti-device-floppy'></i> Cập nhật");
        $.ajax({
            url: '@Url.Action("Loadedit_vacation", "VacationSchedules")',
            type: "GET",
            data: {
                id: id
            },
            success: function (data) {
                $('#IdVacation').val(id);
                $('#NameVacation').val(data.name);
                $('#FromdateVacation').val(data.fromDate);
                $('#TodateVacation').val(data.toDate);

                $('#exampleModal').modal('show');
            },
            error: function (xhr, error) {
                console.log(error);
            }
        });
    }

    function Submit_savechange() {
        if (isProcessing) return; // Nếu đang xử lý, không cho phép gửi yêu cầu mới
        isProcessing = true; // Đặt cờ đang xử lý
        $(".loader").html("Đang xử lý, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'>");
        var fromDate = $("#FromdateVacation").val().split("/").reverse().join("-");
        var toDate = $("#TodateVacation").val().split("/").reverse().join("-");

        $.ajax({
            url: '@Url.Action("Submit_savechanges", "VacationSchedules")',
            type: "POST",
            data: {
                Id: $("#IdVacation").val(),
                action: $("#action").val(),
                Name: $("#NameVacation").val(),
                Fromdate: fromDate,
                Todate: toDate
            },
            success: function (data) {
                if (data.status == "ok") {
                    $('#exampleModal').modal('hide');
                    Loadlist();
                } else {
                    showError(data.message, 3000);
                }
                isProcessing = false;
                $(".loader").html("");
            },
            error: function (xhr, error) {
                isProcessing = false;
                $(".loader").html("");
            }
        });
    }

    function Delete_vacation(id) {
        if (confirm('Bạn có muốn xóa lịch nghỉ của cơ sở này?')) {
            $.ajax({
                url: "/VacationSchedules/Delete_vacation",
                type: "POST",
                data: {
                    id: id
                }
                , dataType: "json",
                success: function (data) {
                    if (data.status = "ok") {
                        Loadlist();
                        showSuccess(data.message, 3000);
                    }
                    else {
                        showError(data.status, 3000);
                    }
                },
                error: function () { showError('Lỗi xóa lịch nghỉ!', 3000); }
            });
        }
    }
</script>