@{
    ViewBag.Title = "Trang chủ";
}
<div class="row">
    <div class="col-md-3 stretch-card grid-margin">
        <div class="card bg-light-gray card-img-holder shadow">
            <div class="card-body p-2 ps-3 pt-3">
                <h6 class="font-weight-normal mb-3">
                    Weekly Sales <i class="ti ti-chart-line"></i>
                </h6>
                <h3>$ 15,0000</h3>
                <div class="d-flex align-items-center pb-1">
                    <span class="me-2 rounded-circle bg-light-danger round-20 d-flex align-items-center justify-content-center">
                        <i class="ti ti-arrow-down-right text-danger"></i>
                    </span>
                    <p class="text-dark me-1 fs-3 mb-0">+9%</p>
                    <p class="text-muted fs-3 mb-0">last year</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 stretch-card grid-margin">
        <div class="card bg-gradient-success card-img-holder shadow">
            <div class="card-body p-2 ps-3 pt-3">
                <h6 class="font-weight-normal mb-3">
                    Weekly Orders <i class="ti ti-bookmark"></i>
                </h6>
                <h3>45,6334</h3>
                <div class="d-flex align-items-center pb-1">
                    <span class="me-2 rounded-circle bg-light-danger round-20 d-flex align-items-center justify-content-center">
                        <i class="ti ti-arrow-down-right text-danger"></i>
                    </span>
                    <p class="text-dark me-1 fs-3 mb-0">+9%</p>
                    <p class="text-muted fs-3 mb-0">last year</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 stretch-card grid-margin">
        <div class="card bg-gradient-success card-img-holder shadow">
            <div class="card-body p-2 ps-3 pt-3">
                <h6 class="font-weight-normal mb-3">
                    Visitors Online <i class="ti ti-diamond"></i>
                </h6>
                <h3>95,5741</h3>
                <div class="d-flex align-items-center pb-1">
                    <span class="me-2 rounded-circle bg-light-danger round-20 d-flex align-items-center justify-content-center">
                        <i class="ti ti-arrow-down-right text-danger"></i>
                    </span>
                    <p class="text-dark me-1 fs-3 mb-0">+9%</p>
                    <p class="text-muted fs-3 mb-0">last year</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 stretch-card grid-margin">
        <div class="card bg-gradient-success card-img-holder shadow">
            <div class="card-body p-2 ps-3 pt-3">
                <h6 class="font-weight-normal mb-3">
                    Visitors Online <i class="ti ti-diamond"></i>
                </h6>
                <h3>95,5741</h3>
                <div class="d-flex align-items-center pb-1">
                    <span class="me-2 rounded-circle bg-light-danger round-20 d-flex align-items-center justify-content-center">
                        <i class="ti ti-arrow-down-right text-danger"></i>
                    </span>
                    <p class="text-dark me-1 fs-3 mb-0">+9%</p>
                    <p class="text-muted fs-3 mb-0">last year</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-7 d-flex align-items-strech card shadow">
            <div class="card-header p-1 ps-3 pt-3 bg-success">
                <div class="d-sm-flex d-block align-items-center justify-content-between align-content-center">
                    <h5 class="text-white fw-bolder"><i class="ti ti-bell-ringing"></i> Thông báo</h5>
                    <div class="align-content-center pb-2 pe-3">
                        <a href="/feeds" class="btn btn-sm btn-light"><i class="ti ti-eye"></i> Xem tất cả</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="loading"></div>
                <div class="row" id="showlist_thongbao">
                </div>
            </div>
    </div>
    <div class="col-lg-5 card shadow">
        <div class="card-header p-1 ps-3 pt-3 bg-success">
            <div class="d-sm-flex d-block align-items-center justify-content-between align-content-center">
                <h5 class="text-white fw-bolder"><i class="ti ti-bell-ringing"></i> Thông báo vật tư</h5>
            </div>
        </div>
        <div class="card-body">
            <div id="loading"></div>
            <div class="d-block" id="showlist_vattu">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content rounded-0 h-75">
            <form action="/" method="post" id="form_nhap">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white" id="exampleModalLabel"></h5>
                    <span class="fst-italic text-white" id="ngay"></span>
                </div>
                <div class="modal-body">
                    <div class="container border-info border-1" style="border: 1px solid; border-radius: 5px; padding: 10px; text-align: justify;">
                        <span id="noidung"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function View_thongbao(id) {
        $.ajax({
            url: '@Url.Action("Load_thongbao", "Home")',
            type: "GET",
            data: {
                id: id
            },
            success: function (data) {
                console.log(data);
                $("#exampleModalLabel").html(data.tieude);
                $('#noidung').html(data.str);
                $('#ngay').html("đăng ngày: "+data.ngay);
                $('#exampleModal').modal('show');
            },
            error: function (xhr, error) {
                console.log(error);
            }
        });
    }
    Loadlist();
    function Loadlist() {
            $("#loading").html("Đang tải dữ liệu, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'>");
             $.ajax({
                 url: '@Url.Action("Loadlist_thongbao", "Home")',
                 type: "GET",
                 data: {
                 },
                 success: function (data) {
                     console.log(data);
                    $("#loading").html("");
                     $('#showlist_thongbao').html(data.str);
                 },
                 error: function (xhr, error) {
                     console.log(error);
                 }
             });
    }

    Loadlist_vattu();
    function Loadlist_vattu() {
        $("#loading").html("Đang tải dữ liệu, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'>");
         $.ajax({
             url: '@Url.Action("Loadlist_vattu", "Home")',
             type: "GET",
             data: {
             },
             success: function (data) {
                 console.log(data);
                $("#loading").html("");
                 $('#showlist_vattu').html(data.str);
             },
             error: function (xhr, error) {
                 console.log(error);
             }
         });
    }
</script>