
@{
    ViewBag.Controller = "Đơn hàng";
    ViewBag.Title = "Thống kê Chi tiết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col col-md-6 col-sm-12">
        <div class="input-group mb-3">
            @if (SuperbrainManagement.Controllers.CheckUsers.CheckHQ())
            {
                @Html.DropDownList("IdBranch", null, htmlAttributes: new { @class = "form-control select2", @onchange = "Loadlist()" })
            }
            <input type="text" class="form-control ms-1 rounded-1" name="fromdate" id="fromdate" placeholder="Tìm kiếm" value="" onchange="return Loadlist()">
            <input type="text" class="form-control ms-1 rounded-1" name="todate" id="todate" placeholder="Tìm kiếm" value="" onchange="return Loadlist()">
        </div>
    </div>
    <div class="col col-md-6 col-sm-12 text-right" style="text-align:right;">
        <button id="exportButton" class="btn btn-success">
            <i class="ti ti-file-download"></i> Xuất file
        </button>
    </div>
</div>
<table class="table fs-3" id="tableToPrint">
    <thead class="bg-success text-white rounded-1">
        <tr>
            <th class="text-center">STT</th>
            <th>Mã đơn hàng</th>
            <th>Vật tư</th>
            <th class="text-center">Đơn vị</th>
            <th class="text-end">Đơn giá</th>
            <th class="text-center">Số lượng</th>
            <th class="text-end">Thành tiền</th>
            <th>Cơ sở</th>
            <th class="text-center">Thời gian đặt hàng</th>
        </tr>
    </thead>
    <tbody id="showlist"></tbody>
    <tr id="loading">
    </tr>
</table>
<script>
    $(function () {
        $("#fromdate").datepicker({ dateFormat: "dd/mm/yy" });
        $("#todate").datepicker({ dateFormat: "dd/mm/yy", maxDate: 1 });
        if ($("#fromdate").val() == "") {
            $("#fromdate").datepicker("setDate", -30);
        }
        if ($("#todate").val() == "") {
            $("#todate").datepicker("setDate", 1);
        }
        Loadlist();
    });
    function Loadlist() {
        $("#loading").html("<td colspan=10 class='text-center'>Đang tải dữ liệu, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'></td>");
        var fromDate = $("#fromdate").val().split("/").reverse().join("-");
        var toDate = $("#todate").val().split("/").reverse().join("-");
        $.ajax({
            url: '@Url.Action("Load_DetailStatistics", "Orders")',
            type: "GET",
            data: {
                IdBranch: $("#IdBranch").val(),
                Fromdate: fromDate,
                Todate: toDate
            },
            success: function (data) {
                $("#loading").html("");
                $('#showlist').html(data.str);
            },
            error: function (xhr, error) {
                console.log(error);
            }
        });
    }
    document.getElementById('exportButton').addEventListener('click', function () {
        var wb = XLSX.utils.table_to_book(document.getElementById('tableToPrint'), { sheet: "Sheet1" });
        var wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'array' });

        var blob = new Blob([wbout], { type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" });
        var link = document.createElement("a");
        link.href = URL.createObjectURL(blob);
        link.download = "ThongKeChiTietDonHang.xlsx";
        link.click();
    });
</script>
