
@{
    ViewBag.Controller = "Đơn hàng";
    ViewBag.Title = "Thống kê đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col col-md-6 col-sm-12">
        <div class="input-group mb-3">
            @if (SuperbrainManagement.Controllers.CheckUsers.CheckHQ())
            {
                @Html.DropDownList("IdBranch", null, htmlAttributes: new { @class = "form-control select2", @onchange = "Loadlist()" })
            }
            <input type="date" class="form-control ms-1 rounded-1" name="fromdate" id="fromdate" placeholder="Tìm kiếm" value="" onchange="return Loadlist()">
            <input type="date" class="form-control ms-1 rounded-1" name="todate" id="todate" placeholder="Tìm kiếm" value="" onchange="return Loadlist()">
        </div>
    </div>
    <div class="col col-md-6 col-sm-12 text-right" style="text-align:right;">
        <button id="exportButton" class="btn btn-success">
            <i class="ti ti-file-download"></i> Xuất file
        </button>
    </div>
</div>
<table class="table fs-3" id="tableToPrint">
    <thead class="bg-success text-white rounded-1">
        <tr>
            <th class="text-center">STT</th>
            <th>Mã đơn hàng</th>
            <th>Cơ sở</th>
            <th class="text-center">Thời gian đặt hàng</th>
            <th class="text-center">Trạng thái</th>
            <th class="text-end">Tổng tiền</th>
        </tr>
    </thead>
    <tbody id="showlist"></tbody>
    <tr id="loading">
    </tr>
</table>
<script>
    $(document).ready(function () {
        var currentDate = new Date();
        var currentDay = currentDate.getDate()+1;
        var currentMonth = currentDate.getMonth() + 1;
        var currentYear = currentDate.getFullYear();
        var formattedToday = currentYear + '-' + ('0' + currentMonth).slice(-2) + '-' + ('0' + currentDay).slice(-2);
        $("#todate").val(formattedToday);
        var lastMonthDate = new Date(currentDate.getFullYear(), currentMonth - 2, currentDay);
        var lastMonth = lastMonthDate.getMonth() + 1;
        var lastMonthYear = lastMonthDate.getFullYear();
        var formattedLastMonth = lastMonthYear + '-' + ('0' + lastMonth).slice(-2) + '-' + ('0' + currentDay).slice(-2);
        $("#fromdate").val(formattedLastMonth);
        Loadlist();
    });
     function Loadlist() {
     $("#loading").html("<td colspan=6 class='text-center'>Đang tải dữ liệu, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'></td>");
      $.ajax({
          url: '@Url.Action("Load_Statistics", "Orders")',
          type: "GET",
          data: {
              IdBranch: $("#IdBranch").val(),
              Fromdate: $("#fromdate").val(),
              Todate: $("#todate").val()
          },
          success: function (data) {
             $("#loading").html("");
              $('#showlist').html(data.str);
          },
          error: function (xhr, error) {
              console.log(error);
          }
      });
    }
    document.getElementById('exportButton').addEventListener('click', function () {
        var wb = XLSX.utils.table_to_book(document.getElementById('tableToPrint'), { sheet: "Sheet1" });
        var wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'array' });

        var blob = new Blob([wbout], { type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" });
        var link = document.createElement("a");
        link.href = URL.createObjectURL(blob);
        link.download = "ThongKeDonHang.xlsx";
        link.click();
    });
</script>