
@{
    ViewBag.Title = "VnPayReturn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">
            <!-- Sidebar -->
            <!-- Main Content -->
            <div class="row">

                <div class="col-md-12 text-center">
                    <h1 class="">Thanh toán</h1>
                    @if (ViewBag.ThanhToanThanhCong != null)
                    {
                        <p>Số tiền thanh toán: @ViewBag.ThanhToanThanhCong</p>
                    }
                    <p>@ViewBag.InnerText</p>
                </div>

            </div>
            <hr />
        </div>
    </div>
</div>


