@model PagedList.IPagedList<SuperbrainManagement.Models.Branch>
@using PagedList.Mvc;
@{
    ViewBag.Controller = "Hệ thống Cơ sở";
    ViewBag.Title = "Danh sách cơ sở";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col col-md-3 col-sm-12">
        <div class="input-group">
            <input type="text" class="form-control rounded-1" id="searchString" name="searchString" placeholder="Tìm kiếm" value="@ViewBag.CurrentFilter ">
            <button class="input-group-text bg-success ms-1 rounded-1" id="basic-addon2" type="button" onclick="Loadlist()"><i class="ti ti-search text-white"></i></button>
        </div>
    </div>
    <div class="col col-md-9 col-sm-12 text-end">
        <a href="/branches/create" class="btn btn-md btn-success ms-0"><i class="ti ti-plus"></i> Thêm mới</a>
    </div>
</div>
<table class="table fs-3 mt-2">
    <thead class="bg-success text-white rounded-1">
        <tr>
            <th class="text-center">STT</th>
            <th class="text-center">Mã</th>
            <th>Tên cơ sở</th>
            <th class="text-center">Số điện thoại</th>
            <th class="text-center">Địa chỉ Email</th>
            <th class="text-center">Hạn hợp đồng</th>
            <th class="text-center">Tình trạng</th>
            <th class="text-end">Thao tác</th>
        </tr>
    </thead>
    <tbody id="showlist"></tbody>
    <tr class="loader"></tr>
</table>
<script>
    Loadlist();
    function Loadlist() {
        $(".loader").html("<td colspan=8 class='text-center'>Đang tải dữ liệu, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'></td>");
        $.ajax({
            url: '@Url.Action("Loadlist", "Branches")',
            type: "GET",
            data: {
                searchString: $("#searchString").val()
            },
            success: function (data) {
                console.log(data);
                $('#showlist').html(data.str);
                $(".loader").html("");
            },
            error: function (xhr, error) {
                console.log(error);
            }
        });
    }
</script>