
@{
    ViewBag.Title = "PaymentList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col col-md-3 col-sm-12">
        <div class="input-group">
            @if (SuperbrainManagement.Controllers.CheckUsers.CheckHQ())
            {
                @Html.DropDownList("IdBranch", null, htmlAttributes: new { @class = "form-control select2",@onchange="Loadlist()" })
            }
            @Html.DropDownList("Month", null, htmlAttributes: new { @class = "form-control ms-1 rounded-1",@onchange="Loadlist()" })
        </div>
    </div>
    <div class="col col-md-9 col-sm-12 text-right" style="text-align:right;">
        <a href="javascript:TableToPrint()" class="btn btn-md btn-outline-dark ms-0"><i class="ti ti-download"></i> Download</a>
    </div>
</div>

<table class="table fs-3 mt-3">
    <thead class="bg-success text-white rounded-1">
        <tr>
            <th class="text-center">STT</th>
            <th class="text-center">Tên học viên</th>
            <th class="text-center">Ngày sinh</th>
            <th class="text-center">Số điện thoại</th>
            <th class="text-center">Địa chỉ Email</th>
            <th class="text-center">Ngày bắt đầu</th>
            <th class="text-center">Ngày kết thúc</th>
            <th class="text-center">Tình trạng</th>
        </tr>
    </thead>
    <tbody id="showlist"></tbody>
    <tr class="loader"></tr>
</table>
<script>
    Loadlist();
    function Loadlist() {
        $(".loader").html("<td colspan=8 class='text-center'>Đang tải dữ liệu, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'></td>");
    }
</script>