@{
    ViewBag.Controller = "Cài đặt";
    ViewBag.Title = "Chương trình Ưu đãi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col col-md-4 col-sm-12">
        <div class="input-group">
            @if (SuperbrainManagement.Controllers.CheckUsers.CheckHQ())
            {
                @Html.DropDownList("IdBranch", null, htmlAttributes: new { @class = "form-control select2",@onchange="Loadlist()" })
            }
            <input type="text" class="form-control ms-1 rounded-1" id="searchString" name="searchString" onblur="Loadlist()" placeholder="Tìm kiếm" value="@ViewBag.CurrentFilter">
            <button class="input-group-text bg-success ms-1 rounded-1" id="basic-addon2" type="button" onclick="Loadlist()"><i class="ti ti-search text-white"></i></button>
        </div>
    </div>
    <div class="col col-md-8 col-sm-12 text-end">
        <a href="/promotions/create" class="btn btn-md btn-success ms-0"><i class="ti ti-plus"></i> Thêm mới</a>
    </div>
</div>

<table class="table table-striped fs-3 mt-2">
    <thead class="border-2 border-bottom border-muted">
        <tr>
            <th class="text-center">STT</th>
            <th class="text-start">Mã</th>
            <th class="text-start">Tên</th>
            <th class="text-center">Trị giá</th>
            <th class="text-center">Loại khuyến mãi</th>
            <th class="text-center">Đã sử dụng</th>
            <th class="text-center">Trạng thái</th>
            <th class="text-center">Ngày hết hạn</th>
            <th class="text-center">Thao tác</th>
        </tr>
    </thead>
    <tbody id="showlist"></tbody>
    <tr class="loader"></tr>
</table>
<script>
    Loadlist();
    function Loadlist() {
        $(".loader").html("<td colspan=8 class='text-center'>Đang tải dữ liệu, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'></td>");
        $('#showlist').html("");
        $.ajax({
            url: '@Url.Action("Loadlist", "Promotions")',
            type: "GET",
            data: {
                idBranch: $("#IdBranch").val(),
                searchString: $("#searchString").val()
            },
            success: function (data) {
                console.log(data);
                $(".loader").html("");
                $('#showlist').html(data.str);
            },
            error: function (xhr, error) {
                console.log(error);
            }
        });
    }
</script>