
@{
    ViewBag.Controller = "Lớp học";
    ViewBag.Title = "Lịch học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <table class="table table-bordered table table-striped">
        <thead class="" style="height:50px;">
            <tr>
                <th></th>
                <th class="text-center">Thứ 2</th>
                <th class="text-center">Thứ 3</th>
                <th class="text-center">Thứ 3</th>
                <th class="text-center">Thứ 4</th>
                <th class="text-center">Thứ 5</th>
                <th class="text-center">Thứ 6</th>
                <th class="text-center">Thứ 7</th>
                <th class="text-center">Chủ nhật</th>
            </tr>
        </thead>
        <tbody id="showlist"></tbody>
    </table>
</div>