
@{
    ViewBag.Controller = "Lớp học";
    ViewBag.Title = "Lịch học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="">
            <tr>
                <th class="text-center fw-bolder">Thứ 2</th>
                <th class="text-center fw-bolder">Thứ 3</th>
                <th class="text-center fw-bolder">Thứ 4</th>
                <th class="text-center fw-bolder">Thứ 5</th>
                <th class="text-center fw-bolder">Thứ 6</th>
                <th class="text-center fw-bolder">Thứ 7</th>
                <th class="text-center fw-bolder">Chủ nhật</th>
            </tr>
        </thead>
        <tbody id="showlist"></tbody>
        <tr class="loader"></tr>
    </table>
</div>
<script>
    Loadlist();
    function Loadlist() {
        $(".loader").html("Đang tải dữ liệu, vui lòng đợi <img src='/assets/images/loading.gif' height='50' alt='loading...'>");
         $.ajax({
             url: '@Url.Action("ShowWeeklySchedule", "Classes")',
             type: "GET",
             data: {
             },
             success: function (data) {
                 $(".loader").html("");
                 $('#showlist').html(data.str);
             },
             error: function (xhr, error) {
                 console.log(error);
             }
         });
    }
</script>